<!-- About Vinoga-->
    <section id="about" style="padding: 40px 0;">
        <div class="container-fluid bg-vinoga">
            <div class="row">
                <div class="col-sm-4 sidepart">
                    <h2 class="section-heading text-white">About Vinoga</h2>
                    <h3 class="section-subheading text-white texte-center">Vinoga is the most popular video game about wine on Facebook. Players spend hours learning about wine. They are now a very targeted audience.</h3>
                    <ul class="list-group">
                      <li class="list-group-item">  60,000+ players</li>
                      <li class="list-group-item">  50% of the player are women aged 30+</li>
                      <li class="list-group-item">  Players play in average 1 hour per day</li>
                    </ul>
                </div>
                <div class="col-xs-8">

                </div>
            </div>
        </div>
    </section>
